/*====================================
    OPCIONES GENERALES
====================================*/
.inicio {
    height: 100vh;
    padding-top: 4rem;
    background-image: url(/assets/Imagenes/Fondos/home-background.jpg);
    background-size: cover;
}

.inicio-contenido {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin-left: 5rem;
}

/*====================================
    OPCIONES DEL TITULO
====================================*/
.titulo-nombre{
    font-weight: lighter;
    font-size: 2rem;
}

.titulo-apellido{
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
}


/*============================================
    OPCIONES DEL TYPEWRITER
============================================*/
.typewriter-cursor {
    display: inline-block;
    color: var(--verde-claro);
    font-size: 1.2rem; /* Aumenta el tamaño */
    animation: blink .8s infinite;
    margin-left: 1px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}