/*====================================
    OPCIONES GENERALES
====================================*/
.inicio {
    height: 100vh;
    padding-top: 4rem;
    background-image: url(/assets/Imagenes/Fondos/home-background.jpg);
    background-size: cover;
    
}

.inicio-contenido {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin-left: 5rem;
}

/*====================================
    OPCIONES DEL TITULO
====================================*/
.titulo-nombre{
    font-weight: lighter;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 2px;
}

.apellido-typewritter-container{
    width: fit-content;
    /* background-color: red; */
}

.titulo-apellido{
    font-weight: bold;
    font-size: 4rem;
    line-height: 3.5rem;
}


/*============================================
    OPCIONES DEL TYPEWRITER
============================================*/
.typewriter-cursor {
    display: inline-block;
    color: var(--verde-claro);
    font-size: 1.2rem; /* Aumenta el tamaño */
    animation: blink .8s infinite;
}

.typewriter-wrapper{
    display: inline-block;
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .30em; /* Adjust as needed */
    margin-left: 2px;
    font-weight: 200;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}