/* ==========================================
OPCIONES GENERALES
===========================================*/

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

/* ==========================================
CONTENEDOR IZQUIERDA
===========================================*/
.navbar-list {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.enlace {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.enlace:hover {
    color: #00bfff;
}

.activo {
    color: #00bfff;
    font-weight: bold;
}

/* ==========================================
CONTENEDOR DERECHA
===========================================*/
/* .contenedor-derecha{
} */