/* ==========================================
OPCIONES GENERALES
===========================================*/

.navbar{
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

/* ==========================================
CONTENEDOR IZQUIERDA
===========================================*/
/* .contenedor-izquierda{

} */

.navbar-list{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* ==========================================
CONTENEDOR DERECHA
===========================================*/
/* .contenedor-derecha{
} */


