:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--blanco);
  background-color: var(--negro-claro);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* VARIABLES */
:root {

  /* BLANCOS */
  --blanco: #ffffffde;

  /* NEGROS */
  --negro-claro: #242424;
  --negro-muy-claro: #1f1f1f;

  /* GRISES */
  --gris: #2a2a2a;
  --gris-claro: #333;

  /* VERDES */
  --verde-oscuro: #0f2c1d;
  --verde-claro: #00ff99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

a {
  color: var(--blanco);
}